.nav {
  grid-area: nav;
  background-color: cadetblue;
  padding: 20px;
  margin: 30px;
  border: 1px solid #ede9e9;
  border-radius: 3px;
}

a {
  color: white;
}
a.active {
  color: gold;
}
a:hover {
  color: gold;
}
