.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;

  border: 1px solid #ede9e9;
  border-radius: 3px;

  color: #545454;
}
.dialogItems {
  padding: 10px;
  background-color: #6c757d;
}

.active {
  color: gold;
}
.messages {
  padding: 30px;
  background-color: #fdfdfd;
}
.messages textarea {
  border: #6c757d solid 1px;
  border-radius: 15px;
  width: 500px;
  height: 40px;
}
.messages button {
  border: #6c757d solid 1px;
  border-radius: 5px;
  margin-top: 5px;
}

.message {
  border: #6c757d solid 1px;
  border-radius: 15px;
  padding: 5px 10px 5px 10px;
  margin-bottom: 10px;
  width: fit-content;
}
.message img {
  height: 30px;
  margin: 0 10px 0 5px;
  border-radius: 15px;
}
.dialog img {
  height: 50px;
  margin: 10px;
  border-radius: 20px;
}
